.reviews-section-homepage-container {
  width: 100vw;
  height: auto;
  background-color: white;
  overflow: hidden;
  padding: 25px 0;

  .reviews-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;

    .left-side {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 30px 30px;
      .average-reviews-number {
        font-size: 50px;
      }
      .verified-reviews-number {
        width: 150px;
      }
    }
  }
}
