.customer-review-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 200px;
  padding: 10px 20px;

  align-items: flex-start;
  text-align: left;
  z-index: 0 !important;

  .customer-review-stars {
    padding: 10px 0;
  }

  .customer-review-text {
    font-size: 20px;
    z-index: 0 !important;
  }
}
