.showcase-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  .showcase-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 60px;
      color: white;
    }

    h3 {
      font-size: 40px;
      color: orange;
    }
  }
}
