.modern-auto-insurance-container {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.904);
  color: white;

  .header {
    text-align: center;
    // color: rgba(0, 0, 0, 0.719);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;

    h1 {
      font-size: 40px;
    }
    h3 {
      margin-top: 10px;
      font-size: 25px;
      width: 700px;
    }
    // width: 500px;
    // opacity: 0.5;
  }

  .modern-auto-insurance-cards-container {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 50px 200px;

    .modern-auto-insurance-card {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        font-size: 50px;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 20px;
        font-weight: bolder;
      }
    }
  }

  .get-a-quote {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 900;
    .get-a-quote-link {
      text-decoration: none;
      color: white;
    }
  }
}
